// scss/main.scss

// 1. BASE: VARIABLES y MIXINS
@import "base/variables";
@import "base/mixins";

// 2. LAYOUT Y ESTILOS GLOBALES
@import "layout/global";
@import "layout/footer";

// 3. COMPONENTES Y SECCIONES
@import "components/navbar";
@import "components/buttons";
@import "components/services";
@import "components/counters";
@import "components/projects";
@import "components/contact";
