// scss/main.scss
// ESTE ARCHIVO SOLO CONTIENE IMPORTACIONES Y COMENTARIOS.

// 1. BASE: VARIABLES y MIXINS
@import "base/variables";
@import "base/mixins";

// 2. LAYOUT Y ESTILOS GLOBALES
@import "layout/global";
@import "layout/footer";

// 3. COMPONENTES Y SECCIONES
@import "components/navbar";
@import "components/buttons";
// @import 'layout/hero'; // Si Hero es un archivo separado, impórtalo aquí.
