footer {
  background-color: darken($color-primary, 10%); // Un azul casi negro
  color: rgba(255, 255, 255, 0.6);
  padding: 3rem 1rem;
  text-align: center;
  font-size: 0.9rem;

  .footer-socials {
    margin-top: 1rem;

    a {
      color: $color-accent;
      margin: 0 0.5rem;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
