// /scss/layout/_global.scss

// Estilos de la etiqueta BODY y Tipografía Base
body {
  background-color: $color-light;
  color: $color-text;
  font-family: $font-stack;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

// Estilos de Encabezados
h1,
h2,
h3 {
  font-family: $font-headings;
  color: $color-primary;
  margin-bottom: 0.5rem;
}

// Estilo para el contenedor principal de contenido
.main-content-wrapper {
  padding-top: 5rem; // Espacio para el navbar fijo
}

// Reset básico de listas
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
