#contacto {
  padding: 5rem 1rem;
  background-color: $color-primary; // Sección oscura
  color: #fff;
  text-align: center;

  h2 {
    color: #fff;
    margin-bottom: 2rem;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 4px;
      font-family: $font-stack;
      font-size: 1rem;

      &:focus {
        outline: 3px solid $color-accent; // Borde dorado al escribir
      }
    }

    button {
      margin-top: 1rem;
      align-self: center; // Centrar el botón
      min-width: 200px;
    }
  }
}
