// /scss/components/_navbar.scss

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;

  background-color: $color-primary;
  box-shadow: 0 2px 5px rgba($color-text, 0.4);

  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    a {
      color: $color-light;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-light;
  text-decoration: none;
}

// Media Query para móvil
@include mobile {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
