#proyectos {
  padding: 5rem 1rem;
  background-color: $color-light; // Un fondo gris clarito para diferenciar sección
  text-align: center;

  h2 {
    color: $color-primary;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .project-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
      transition: transform 0.5s ease;
    }

    // Efecto Zoom en la foto
    &:hover img {
      transform: scale(1.1);
    }

    .project-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(31, 69, 111, 0.9); // Azul transparente
      padding: 1rem;
      color: #fff;
      text-align: left;

      h3 {
        margin: 0;
        font-size: 1.2rem;
        color: $color-accent; // Título dorado
      }

      p {
        margin: 0.2rem 0 0;
        font-size: 0.9rem;
        opacity: 0.8;
      }
    }
  }
}
