// /scss/components/_contact.scss

#contacto {
  background-color: $color-light;
  padding-bottom: 6rem;
  text-align: center;

  h2 {
    color: $color-primary;
    margin-bottom: 3rem;
  }
  p {
    color: $color-text;
    margin-bottom: 2rem;
  }
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba($color-text, 0.1);

  // Contenedor principal de la rejilla (el form)
  display: grid;
  /* Esto crea 3 columnas para los inputs principales (Nombre, Email, Asunto) */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  // Regla para que el textarea y el botón abarquen el ancho completo
  label[for="message"],
  textarea,
  button {
    grid-column: 1 / -1; /* Ocupa desde la primera columna hasta la última */
  }

  label {
    display: block;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    font-family: $font-stack;
    font-size: 1rem;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  // Media Query para móvil
  @include mobile {
    grid-template-columns: 1fr; /* Una sola columna en móvil */
  }
}
