// Paleta de una constructora: Azul de Confianza y Gris de Estabilidad
$color-primary: #1f456f; // Azul Oscuro, como tu acento
$color-secondary: #c2c2c2; // Gris para líneas y bordes
$color-accent: #daa520; // Dorado/Amarillo Suave (para destacar calidad/detalles)
$color-text: #333333; // Gris Oscuro para texto principal
$color-light: #f8f8f8; // Fondo principal

// Tipografía
$font-stack: "Montserrat", sans-serif;
$font-headings: "Roboto Slab", serif; // Usaremos una fuente serif para dar un toque de solidez
