// Paleta de una constructora: Azul de Confianza y Gris de Estabilidad
$color-primary: #1f456f; // Azul Oscuro (Primario, se mantiene en ambos modos)
$color-secondary: #c2c2c2; // Gris para líneas y bordes
$color-accent: #daa520; // Dorado/Amarillo (Acento, se mantiene)

// -- PALETA PARA TEMA CLARO (LIGHT MODE)
$light-bg: #f8f8f8; // Fondo principal CLARO
$light-text: #333333; // Texto principal OSCURO

// -- PALETA PARA TEMA OSCURO (DARK MODE)
$dark-bg: #121212; // Fondo principal OSCURO (casi negro)
$dark-text: #f0f0f0; // Texto principal CLARO

// Tipografía
$font-stack: "Montserrat", sans-serif;
$font-headings: "Roboto Slab", serif;
