// /scss/base/_variables.scss

// Asegúrate de que todas las líneas terminen en punto y coma (;)
$color-primary: #1f456f;
$color-secondary: #c2c2c2;
$color-accent: #daa520;
$color-text: #333333;
$color-light: #f8f8f8;

// Tipografía
$font-stack: "Montserrat", sans-serif;
$font-headings: "Roboto Slab", serif;
