// /scss/base/_mixins.scss

// Define el mixin 'mobile' que usamos en los otros archivos
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

// Puedes añadir el mixin para tablet también, si quieres usarlo:
@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}
